@keyframes animation {
  from {
    top: 0;
  }
  to {
    top: 3rem;
  }
}

.updateCartNotificationContainer {
  display: flex;
  z-index: 99999;
  justify-content: center;
}

.updateCartNotification {
  position: fixed;
  max-width: 90%;
  display: flex;
  margin: 0 auto;
  top: 3rem;
  width: max-content;
  height: 3rem;
  font-size: larger;
  font-weight: bold;
  background-color: #4bb543;
  border-radius: 10px;
  padding: 2rem 1rem;
  align-items: center;
  justify-content: center;
  color: white;
  animation: 1s animation;
}

.updateCartNotification > span {
  word-wrap: unset;
  word-break: break-word;
}

@media only screen and (max-width: 800px) {
  .updateCartNotification {
    margin: 0 1rem;
  }
}

@media only screen and (min-width: 801px) {
  .updateCartNotification {
    margin: 0 30%;
  }
}
